body{
	background-color: #87A2B2;
	/*background-image: url("Images/tapestry.png");*/
	text-align: center;
}

ul {
	list-style-type: none;
}

li {
	float: left;
	margin: 15px;
	list-style: none;
}

div{
	justify-content:center;
}
p{
	font-size: 10px;
}

p,h3,h5,h2{
	font-family: cursive;
	color: antiquewhite;
}
h1{
	font-family: cursive;
	color: antiquewhite;
}

.welcome {
	background-color: darkslateblue;
	border-radius: 15px;
	margin-top: 20px;
	padding: 15px;
}

.data{
	background-color: slateblue;
	border-radius: 15px;
	margin-top: 20px;
	padding: 15px;
}
.info{
	background-color:darkcyan;
	border-radius: 15px;
	margin-top: 20px;
	padding: 15px;
}
input{
	border-radius: 15px 15px 15px 15px ;
}






/*
>bartmosca
MGSGDAENGKKIFVQKCAQCHTYEVGGKHKTGPNLHGLFGRKTGQAPGYSYTAANKN
KGIIWGEDTLMEYLENPKKYIPGTKMIFVGIKKKEERADLIAYLKKATNE

>NP_061820.1_cytochrome_c_[Homo_sapiens]
MGDVEKGKKIFIMKCSQCHTVEKGGKHKTGPNLHGLFGRKTGQAPGYSYTAANKNKGIIWGEDTLMEYLENPKKYIPGTKMIFVGIKKKEERADLIAYLKKATNE

>NP_001285984.1_cytochrome_c_proximal,_isoform_B_[Drosophila_melanogaster]
MGVPAGDVEKGKKLFVQRCAQCHTVEAGGKHKVGPNLHGLIGRKTGQAAGFAYTDANKAKGITWNEDTLFEYLENPKKYIPGTKMIFAGLKKPNERGDLIAYLKSATK

Mi clustal C:\\Program Files (x86)\\ClustalW2\\clustalw2

<div class="row">
    <!-- <iframe src="https://www.ncbi.nlm.nih.gov/Structure/icn3d/full.html?pdbid=1ubq" width="1200" height="600" ></iframe>
    no es parametrizable-->
  </div>
      <!-- <iframe src="https://2struccompare.cryst.bbk.ac.uk/index.php" width="1000" height="600"></iframe>-->

*/